.aboutpage__body {
    padding: $xl-size $xxl-size;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.aboutpage__item {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    padding: 0 $l-size;
}

.aboutpage__item-info {
    margin-left: $m-size;
}

.aboutpage__item-text {
    color: $near-black;
    font-size: $xs-font;
    font-family: $sans-serif;
    margin-bottom: $xs-size;
}

.aboutpage__item-subtext {
    color: lighten($light-grey, 5%);
    font-size: $xs-font;
    margin: 0;
}

.aboutpage__oneitem {
    display: none;
}

@media only screen and (min-width: 761px) and (max-width: 1200px) {
    .aboutpage__body {
        padding: $l-size $s-size;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .aboutpage__item-subtext {
        margin-bottom: $m-size;
    }
}

@media only screen and (max-width: 760px) {
    .aboutpage__body {
        display: none;
    }

    .aboutpage__oneitem {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 500px;
        align-items: center;
        padding: $l-size $s-size;
    }

    .aboutpage__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $l-size;
    }

    .aboutpage__item-icon {
        max-width: 150px;
    }

    .aboutpage__item-info {
        margin: 0;
    }

    .aboutpage__item-text, .aboutpage__item-subtext {
        font-size: $m-font;
    }

    .aboutpage__item-subtext {
        margin-bottom: $m-size;
    }

    .aboutpage__nav {
        width: auto;
        background: none;
        border: none;
        font-size: $l-font;
    }

    .aboutpage__nav:hover {
        background: none;
        border: none;
    }
}