.contactpage__body {
    margin-bottom: $xl-size;
}

.contactpage a {
    text-decoration: none;
}

.contactpage a:visited {
    color: $light-grey;
}

.contactpage__buttons {
}

.contactpage__buttons button {
    width: 25rem;
    height: $xl-size;
}

.contactpage__form, .contactpage__form form {
} 

.contactpage__form h3 {
    color: $near-black;
    font-size: $l-font;
    text-align: center;
    text-decoration: underline dashed;
    font-family: $sans-serif;
}

form input, form textarea {
    padding: $s-size;
    margin: $xs-size $xxl-size;
    border: 5px solid $light-grey;
    border-radius: $xs-size;
}

form button {
    float: right;
    padding: $s-size;
    margin: $xs-size $xxl-size;
}


