.contactpage__body {
    margin: $l-size 0;
    display: flex;
    flex-direction: column;
}

.contactpage a {
    text-decoration: none;
}

.contactpage a:visited {
    color: $light-grey;
}

.contactpage__buttons {
    display: flex;
    justify-content: space-evenly;
    margin: $l-size $xxl-size*1.5;
}

.contactpage__buttons button {
    width: 25rem;
}

.contactpage__form {
    display: flex;
    flex-direction: column;
}

.contactpage__form h3 {
    color: $near-black;
    font-size: $l-font;
    text-align: center;
    text-decoration: underline dashed;
    font-family: $sans-serif;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input, form textarea {
    padding: $s-size;
    margin: $xs-size $xxl-size*1.5;
    border: 5px solid $light-grey;
    border-radius: $xs-size;
} 

form button {
    float: right;
    padding: $s-size;
    margin: $xs-size $xxl-size*1.5;
}


