.contactpage a {
    text-decoration: none;
}

.contactpage a:visited {
    color: $light-grey;
}

.contactpage__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $l-size;
}

.contactpage__body {
    padding: $xl-size $xxl-size;
    display: flex;
    flex-direction: column;
}

.contactpage__form-header {
    color: $near-black;
    font-size: $l-font;
    text-align: center;
    text-decoration: underline dashed;
    font-family: $sans-serif;
}

.contactpage__form {
    display: flex;
    flex-direction: column;
}

.contactpage__form input, .contactpage__form textarea {
    border: 5px solid $light-grey;
    border-radius: $xs-size;
    padding: $s-size;
} 

.contactpage__form > * {
    margin: $s-size $xl-size;
}

.contactpage__form-send {
    display: flex;
    justify-content: flex-end;
}
