.header__title h1 {
    font-size: $header-font;
    color: $near-black;
    padding-top: $header-padding-size;
    padding-left: $xl-size;
    margin: $l-size;
    margin-top: $xl-size;
    margin-bottom: 0;
}

.header__container {
    display: flex;
    //height: 12.5rem;
    width: 100%;
}

.header__subtitle {
    display: flex;
    justify-content: right;
    flex: 1;
}

.header__subtitle h2 {
    font-size: $xl-font;
    color: $dark-grey;
    padding-right: $xl-size;
    font-weight: 500;
    margin-bottom: 0;
}

span {
    color: $accent-color;
    font-weight: bold;
}

.header {
    padding-top: $header-text-padding-size;
    background-image: url('/img/bg/header.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: baseline;
    font-family: $sans-serif;
}

.header__shadow {
    background: $light-grey;
    height: $s-size;
    width: 100%;
    opacity: 0.15;
    position: relative;
    margin-bottom: 10px;
    top: -$header-shadow-padding-size;
}