.header__title h1 {
    font-size: $header-font;
    color: $near-black;
    padding-top: $header-padding-size;
    padding-left: $xl-size;
    margin: $l-size;
    margin-bottom: 0;
    position: relative;
    top: $header-text-top;
}

.header__container {
    display: flex;
    width: 100%;
}

.header__subtitle {
    display: flex;
    justify-content: right;
    flex: 1;
    position: relative;
    top: $header-text-top;
}

.header__subtitle h2 {
    font-size: $xl-font;
    color: $dark-grey;
    padding-right: $xl-size;
    font-weight: 500;
    margin-bottom: 0;
}

span {
    color: $accent-color;
    font-weight: bold;
}

.header {
    background-image: url('/img/bg/header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: baseline;
    font-family: $sans-serif;
}

.header__shadow {
    background: $light-grey;
    height: $s-size;
    width: 100%;
    opacity: 0.15;
}

#nav-space {
    height: 75px;
    background-color: white;
}

@media only screen and (min-width: 760px) and (max-width: 1200px) {
    .header__subtitle, .header__title {
        margin-top: $xl-size;
        position: relative;
        top: $teeny-size*1.2;
    }

    .header__title h1 {
        font-size: $xxl-font;
        padding: $xs-size;
        margin: 0;
        width: auto;
    }
    
    .header__subtitle h2 {
        font-size: $s-font;
        padding: $xs-size;
        position: relative;
        margin: 0;
        top: $xs-size*1.75;
    }
    
    .header {
        font-family: $sans-serif;
    }
    
    #nav-space {
        height: 100px;
    }
}

@media only screen and (max-width: 760px) {
    .header__title h1 {
        font-size: $xl-font;
        position: static;
        margin: $m-size 0;
        padding: 0 $xs-size;
    }
    
    .header__subtitle, .header__title {
        position: static;
        flex-grow: 1;
    }
    
    .header__subtitle h2 {
        font-size: $xs-font;
        padding: 0 $xs-size;
        position: relative;
        margin: 0;
        top: $teeny-size*(1.2);
    }
    
    .header {
        flex-direction: column;
        font-family: $sans-serif;
    }
    
    #nav-space {
        height: 100px;
    }
}