.homepage__body { 
    display: grid;
    padding: $xl-size $xxl-size;
    grid-template-columns: 300px 1fr;
}

.homepage__body img {
    border: 5px solid $light-grey;
    border-radius: $xs-size;
}

.homepage__body-text {
    font-size: $m-font;
}

.homepage__body h3 {
    color: $near-black;
    font-size: $l-font;
    text-decoration: underline dashed;
    font-family: $sans-serif;
    margin-bottom: 0;
}

.homepage__body-lists {
    display: flex;
    justify-content: space-around;
}