.homepage__body { 
    display: flex;
}

.homepage__body-img,.homepage__body-text {
    padding: $xl-size;
}

.homepage__body img {
    border: 5px solid $light-grey;
    border-radius: $xs-size;
}

// this is actually the div that contains the image, distinct from above
.homepage__body-img {
    padding-right: 0;
    padding-left: $xl-size;
    margin: 0 $l-size;
}

.homepage__body-text {
    font-size: $m-font;
}

.homepage__body-lists {
    display: flex;
    padding: 0;
}

.homepage__body-lists ul {
    padding: 0 $m-size;
}

.homepage__body h3 {
    color: $near-black;
    font-size: $l-font;
    text-decoration: underline dashed;
    font-family: $sans-serif;
    margin-bottom: 0;
}

.homepage__body a {
    background: $accent-color;
}

.homepage__body a:hover {
    color: $light-grey;
    background: $main-blue;
}