.nav {
    display: flex;
    font-family: $sans-serif;
    position: fixed;
    top: 0;
    background-color: #AAA4F4;
    width: 100%;
}

.nav__logo {
    padding-top: $teeny-size;
    padding-left: $m-size;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.nav__links a {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: $s-font;
    text-decoration: none;
    color: $light-grey;
    padding-left: $m-size;
    padding-right: $m-size;
}

.nav__links a:hover, .nav__active-link, .nav__scroll {
    text-decoration: none;
    color: white !important;
    background-image: linear-gradient(to right, #A2D1FC 100%, transparent 100%);
    background-position: 0 1.75em;
    background-repeat: repeat-x;
    background-size: 50px 50px;
}

.nav__active-link {
    font-weight: 600;
    color: $off-white;
}

.nav__shadow {
    align-items: flex-end;
    background: $dark-grey;
    height: $xs-size;
    width: 100%;
    position: absolute;
    opacity: 0.15;
    top: $nav-shadow-padding-size;
}