// ==================== general styling ==================== // 

.resumepage__body {
    padding: $xl-size $xl-size;
}

.resumepage__body h2 {
    text-align: center;
    font-size: $l-font;
    color: $near-black;
    text-decoration: underline dashed;
    font-family: $sans-serif;
    margin-bottom: 0;
}

.resumepage h3 {
    color: $dark-grey;
    font-size: $m-size;
    margin-bottom: $s-size;
}

.resumepage h4 {
    color: $dark-grey;
    font-size: $s-font;
    margin-bottom: $teeny-size;
}

.resumepage h5 {
    color: $dark-grey;
    font-size: $s-font;
    margin: $s-size 0;
    text-align: center;
}

.resumepage__experience {
    padding-right: $l-size;
}

.resumepage__experience p, .resumepage__education p {
    margin: $teeny-size 0;
    font-size: $xs-font;
}

.resumepage__experience-link a, .resumepage__experience-linkall a {
    background-color: transparent; 
}

.resumepage__body span {
    color: lighten($medium-grey, 5%);
    font-weight: 300;
}

.resumepage__objective {
    font-size: $s-font*1.1;
}

.resumepage__divider {
    margin-left: 3px;
}

.resumepage__experience-ul li {
    font-size: $s-font;
}

// ==================== interactive page display ==================== // 

.resumepage__interactive {
    display: flex;
}

.resumepage__interactive-body {
    display: grid;
}

// ==================== scroller styling ==================== // 

.resumepage__scrollbar-container {
    display: flex;
    flex-direction: column;
    font-size: $xs-font;
    padding-right: $m-size;
}

.resumepage__scrollbar {
    display: flex;
    flex-direction: column;
    background-image: url('/src/assets/img/bg/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid $light-grey;
    border-radius: $s-size;
    margin-top: $s-size;
    position: sticky;
    top: $xl-size+$s-size;
}

.resumepage__scrollbar button {
    background: none;
    border: none;
    height: auto;
    padding: $s-size;
    font-size: $xs-font;
    width: 17rem;
}

.resumepage__scrollbar button:hover {
    background-color: rgba(244, 244, 255, 0.7);
    color: $main-purple;
    border-radius: $xs-size;
}

.resumepage__scrollbar-mobile {
    display: none;
}

// anchor for scrollbar neads some space from top due to nav
.resumepage__anchor {
    position: relative;
    top: -($xl-size);
}

// ========= skill button styling ========= //

.resumepage__skillbuttons {
    display: flex;
    background-image: url('/src/assets/img/bg/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid $light-grey;
    border-radius: $s-size;
}

.resumepage__skillbuttons button {
    background: none;
    border: none;
    font-size: $xs-font;
    padding: $xs-size $m-size;
    width: auto;
    height: auto;
    flex-grow: 1;
}

.resumepage__skillbuttons button:hover {
    background-color: rgba(244, 244, 255, 0.7);
    border-radius: $xs-size;
    color: $main-purple;
}

.resumepage__button-active {
    background-color: rgba(244, 244, 255, 0.7) !important;
    border-radius: $xs-size;
    color: $main-purple;
}

.resumepage__skilldropdown {
    display: none;
}

 // ========= skills section styling ========= //

.resumepage__skills-body {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
}

.resumepage__skills-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.resumepage__skills-item {
    border: 3px solid $light-grey;
    border-radius: $xs-size;
    font-size: 10pt;
    font-family: $sans-serif;
    color: white;
    padding: $xs-size $teeny-size;
    margin: $xs-size;
    text-align: center;
    width: $xl-size*1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resumepage__skills-item:hover {
    background: rgba(244, 244, 255, 0.7);
}


// ========= resume download section styling ========= //

.resumepage__downloadresume {
    display: flex;
    justify-content: center;
}

.resumepage__downloadresume button {
    margin-top: $m-size;
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .resumepage__body {
        padding: $m-size $s-size;
    }

    .resumepage__experience {
        padding-right: 0;
    }

    .resumepage__downloadable {
        margin: $l-size 0;
    }

    .resumepage__skills-body {
        display: grid;
        grid-template-rows: 30% 5% 30% 5% 30%;
        grid-template-columns: none;
    }

    .resumepage__skills-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .resumepage__skills-item {
        padding: $xs-size $teeny-size;
        margin: $teeny-size;
        text-align: center;
        width: $xl-size*1.5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resumepage__scrollbar-container {
        padding: 0;
    }

    .resumepage__scrollbar {
        position: sticky;
        -webkit-position: sticky;
        top: $xl-size+$m-size;
    }
    
    .resumepage__scrollbar button {
        background: none;
        border: none;
        height: auto;
        font-size: 12pt;
        width: 12rem;
    }
    
    .resumepage__scrollbar button:hover {
        background-color: rgba(244, 244, 255, 0.7);
        color: $main-purple;
        border-radius: $xs-size;
    }

    .resumepage__skillbuttons button {
        background: none;
        border: none;
        font-size: $teeny-font;
        padding: $teeny-size;
        width: auto;
        height: auto;
        flex-grow: 1;
    }

    .resumepage__interactive-body {
        padding: 0 $m-size;
    }
}

/* two column goodness */
@media only screen and (min-width: 960px) {
    .resumepage__experience-container, .resumepage__education-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .resumepage__scrollbar {
        display: none;
    }

    .resumepage__body {
        padding: $m-size $xs-size;
    }

    .resumepage__downloadable {
        margin: $l-size 0;
    }

    .resumepage__skills-body {
        display: grid;
        grid-template-rows: 30% 5% 30% 5% 30%;
        grid-template-columns: none;
    }

    .resumepage__skills-item {
        padding: $xs-size $teeny-size;
        margin: $teeny-size;
        text-align: center;
        width: $xl-size*1.5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resumepage__scrollbar-container {
        padding: 0;
    }

    .resumepage__scrollbar-mobile {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(170, 164, 244, 0.5);
        background-image: url('/src/assets/img/bg/button.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        border: 5px solid $light-grey;
        border-radius: $s-size;
        margin-top: $s-size;
        position: sticky;
        top: $xl-size+$m-size;
    }
    
    .resumepage__scrollbar-mobile button {
        background: none;
        border: none;
        height: auto;
        padding: $xs-size;
        font-size: 10pt;
        width: auto;
    }
    
    .resumepage__scrollbar-mobile button:hover {
        background-color: rgba(244, 244, 255, 0.7);
        color: $main-purple;
        border-radius: $xs-size;
    }

    .resumepage__skills-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .resumepage__skillbuttons {
        display: flex;
        flex-wrap: wrap;
        border: none;
        background: none;
    }

    .resumepage__skillbuttons button {
        background: none;
        border: 3px solid $light-grey;
        border-radius: $s-size;
        font-size: 10pt;
        padding: $xs-size;
        margin: $xs-size;
        width: auto;
        height: auto;
        flex-grow: 1;
    }

    .resumepage__skillbuttons button:hover {
        border-radius: $s-size;
    }

    .resumepage__interactive {
        display: flex;
        flex-direction: column;
    }

    .resumepage__interactive-body {
        padding: 0 $xs-size;
    }
}

/* sad */
@media only screen and (min-width: 315px) and (max-width: 325px) {
    .resumepage__skills-list {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

