//orig: 213 lines

// ==================== general styling ==================== // 

.resumepage__body {
    padding: $xl-size $xl-size*2;
}

.resumepage__body h2 {
    text-align: center;
    font-size: $l-font;
    color: $near-black;
    text-decoration: underline dashed;
    font-family: $sans-serif;
    margin-bottom: 0;
}

.resumepage h3 {
    color: $dark-grey;
    font-size: $m-size;
    margin-bottom: $s-size;
}

.resumepage h4 {
    color: $dark-grey;
    font-size: $s-font;
    margin-bottom: $teeny-size;
}

.resumepage h5 {
    color: $dark-grey;
    font-size: $s-font;
    margin: $s-size 0;
    text-align: center;
}

.resumepage__experience p, .resumepage__education p {
    margin: $teeny-size 0;
    font-size: $xs-font;
}

.resumepage__interactive a {
    background-color: $accent-color;
}

.resumepage__experience-link a {
    background-color: transparent;// !important;
}

.resumepage__body span {
    color: lighten($medium-grey, 5%);
    font-weight: 300;
}

.resumepage__objective {
    font-size: $s-font;
}

.resumepage__divider {
    margin-left: 3px;
}

// ==================== interactive page display ==================== // 

.resumepage__interactive {
    display: flex;
}

.resumepage__interactive-body {
    display: grid;
}

// ==================== scroller styling ==================== // 

.resumepage__scrollbar-container {
    display: flex;
    flex-direction: column;
    font-size: $xs-font;
    padding-right: $m-size;
}

.resumepage__scrollbar {
    display: flex;
    flex-direction: column;
    background-image: url('/img/bg/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid $light-grey;
    border-radius: $s-size;
    margin-top: $s-size;
    position: sticky;
    top: $xl-size+$s-size;
}

.resumepage__scrollbar button {
    background: none;
    border: none;
    height: auto;
    padding: $s-size $s-size;
    font-size: $xs-font;
    width: 17rem;
}

.resumepage__scrollbar button:hover {
    background-color: rgba(244, 244, 255, 0.7);
    color: $main-purple;
}

// anchor for scrollbar neads some space from top due to nav
.resumepage__anchor {
    position: relative;
    top: -($xl-size);
}

// ========= skill button styling ========= //

.resumepage__skillbuttons {
    display: flex;
    justify-content: space-around;
    background-image: url('/img/bg/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid $light-grey;
    border-radius: $s-size;
}

.resumepage__skillbuttons button {
    background: none;
    border: none;
    font-size: $xs-font;
    padding: $xs-size $m-size;
    width: auto;
    height: auto;
}

.resumepage__skillbuttons button:hover {
    background-color: rgba(244, 244, 255, 0.7);
    //border-radius: $xs-size;
    color: $main-purple;
}

 // ========= skills section styling ========= //

.resumepage__skills-body {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
}

.resumepage__skills-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.resumepage__skills-item {
    border: 3px solid $light-grey;
    border-radius: $xs-size;
    font-size: 10pt;
    font-family: $sans-serif;
    color: white;
    padding: $xs-size $teeny-size;
    margin: $xs-size;
    text-align: center;
    width: $xl-size*1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}


// ========= resume download section styling ========= //

.resumepage__downloadresume {
    display: flex;
    justify-content: center;
}

.resumepage__downloadresume button {
    margin-top: $m-size;
}