html {
    font-size: 62.5%;
}

body {
    font-family: $serif;
    font-size: $s-size;
    color: $off-white;
    background-image: linear-gradient(#AAA4F4, #A2D1FC);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// purple visited links are ugly
a:visited {
   color: inherit;
}

button {
    cursor: pointer;
    background: url("/img/bg/button.png");
    background-size: 100% 100%;
    font-family: $sans-serif;
    font-size: $s-font;
    width: 25rem;
    color: $off-white;
    border: 5px solid $light-grey;
    padding: $xs-size;
    height: $xl-size;
}

button:hover {
    background: url('/img/bg/button-dark.png');
    background-size: 100% 100%;
    color: darken($accent-color, 5%);
    font-weight: bold;
    border: 5px solid lighten($main-blue, 5%);
}

button:disabled {
    cursor: default;
}

@media only screen and (max-width: 1200px) {
    button {
        width: 15rem;
    }
}