// Colors
/* Coolors Exported Palette - coolors.co/1f363d-40798c-922d50-501537-3c1b43 */

/* RGB */
$main-purple: #AAA4F4;
$main-blue: #A2D1FC;
$accent-color: #FD7FF2;
$light-grey: #EFEFFD;
$near-black: #30313B;
$dark-grey: #42424D;
$medium-grey: #696978;

// Spacing
$teeny-size: 0.4rem;
$xs-size: 0.8rem;
$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 7.2rem;
$xxl-size: 21.6rem;
$desktop-breakpoint: 45rem;
$header-padding-size: 5.7rem;
$contact-padding-size: 25rem;

// Font sizes
$xs-font: 14pt;
$s-font: 16pt;
$m-font: 20pt;
$l-font: 24pt;
$xl-font: 28pt;
$header-font: 44pt;

// Fonts
$serif: Georgia;
$sans-serif: Courier;